html,
body {
  height: 100%;
}

body {
  background-image: url(../images/newsradio_pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  color: white;
  text-align: center;
  
}

#container {
  margin: 0 20%;
  background-color: rgba(223, 140, 46, 0.65);
  padding: 30px;
}

/* button that is clicked */
button {
  width: 70%;
  height: 40px;
  margin: 0 15%;
  margin-bottom: 15px;
  font-family: 'News Cycle', sans-serif;
  font-size: 150%;
}

button:hover {
  border: 3px solid #e16161;
}

#newsImage {
  margin-top: 20px;
}

h1 {
  font-size: 5em;
  font-weight: bold;
}

h2 {
  font-family: 'News Cycle', sans-serif;
  margin-bottom: 25px;
  font-size: 35px;
  text-shadow: 0px 2px 11px #000000;
}

h3 {
  font-family: 'News Cycle', sans-serif;
  font-size: 25px;
  text-shadow: 0px 2px 11px #000000;
}